
body {
    font-family: "Work Sans", sans-serif;
  }

#map {
  width:100%;
  height: calc(100vh);
}

#svg g{
}

.county {
  fill-opacity: 50%;
  fill: rgb(78, 78, 78);
}

    /* Small devices (landscape phones, 576px and up) */
    @media (min-width: 576px) {}

    /* Medium devices (tablets, 768px and up) */
    @media (min-width: 768px) {
      #map {
        height: calc(60vh);
      }
    }

    /* Large devices (desktops, 992px and up) */
    @media (min-width: 992px) {

      #map {
        height: calc(80vh);
      }